/* Reseta padrões de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    background-color: #004080;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header .logo {
    height: 60px;
    position: absolute;
    top: 10px;
    left: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Estilos das seções */
section {
    padding: 20px;
    margin: 20px 10%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #004080;
}

/* Estilo do rodapé */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilo do formulário de contato */
form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #003366;
}

/* Melhorias para links e listas */
#contato a {
    color: #004080;
    text-decoration: none;
}

#contato a:hover {
    text-decoration: underline;
}

ul {
    list-style: disc inside;
    padding-left: 20px;
}
 /* Estilos para a galeria */
 .galeria {
    margin: 20px auto; /* Adiciona um pouco de margem ao redor da galeria */
    max-width: 1000px; /* Define uma largura máxima para a galeria */
}

.fotos {
    text-align: center; /* Centraliza as imagens dentro do contêiner */
}

.fotos a {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd; /* Adiciona uma borda para destacar as imagens */
    padding: 5px; /* Adiciona um pouco de espaço ao redor da imagem */
}

.fotos img {
    max-width: 150px; /* Define um tamanho máximo para as miniaturas */
    height: auto;
    display: block;
    margin: 0 auto;
}